<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469325148847-vgtudnqjtr4qun9clrd0iq9b86teesq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469325148847-vgtudnqjtr4qun9clrd0iq9b86teesq5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>469325148847-hrkpb6org8k8a232fotsi9g2b5skrue0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBf-aEnc7nAqTdkKto_c36xPszKjEqr-Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>469325148847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MDB.Phyzmo</string>
	<key>PROJECT_ID</key>
	<string>phyzmo</string>
	<key>STORAGE_BUCKET</key>
	<string>phyzmo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469325148847:ios:9e26763e51130621ba9a5a</string>
	<key>DATABASE_URL</key>
	<string>https://phyzmo.firebaseio.com</string>
</dict>
</plist>